[submodule "lame"]
	path = lame
	url = https://github.com/Bedevil/lame.git
[submodule "skutter"]
	path = skutter
	url = https://github.com/Bedevil/skutter
[submodule "wiki"]
	path = wiki
	url = https://github.com/Bedevil/be.shell.wiki.git
