#SidePanelBottom {
  background-color: rgba(0,0,0,0%);
}

#lastWidget{
  background-color: rgba(20,20,20,50%);
  border-top:2px solid rgba(0,0,0,100%);
  min-height: 24px;
  max-height: 24px;
}

#time {
  color: rgba(244,244,244,100%);
  margin: 10 2 10 0;
  font-size: 16px;
  font-family: sans-serif;
}

#button1, #button2 {
  background-color: rgba(0,0,0,0%);
  border: none;
}

#button1:checked, #button2:checked {
  background-color: rgba(0,0,0,100%);
}

#button1:hover, #button2:hover {
  background-color: rgba(0,0,0,50%);
  border: none;
}
